<!-- templates/features.html -->
{% extends "base.html" %}

{% block title %}Features{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Features of notes</h1>
        <p class="lead">
            Our Notes Service offers a range of features designed to help you manage your notes efficiently and effectively. Discover what makes our service unique and why it's the perfect choice for keeping your thoughts organized.
        </p>

        </br>

        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">
            <strong>Easy to Use:</strong> Our intuitive interface makes it easy to create, edit, and organize your notes.
          </a>
          <a href="#" class="list-group-item list-group-item-action">
              <strong>Secure:</strong> Your notes are stored securely and can only be accessed by you.
          </a>
          <a href="#" class="list-group-item list-group-item-action">
              <strong>Accessible:</strong> Access your notes from any device, anytime, anywhere.
          </a>
          <a href="#" class="list-group-item list-group-item-action">
              <strong>Organized:</strong> Categorize your notes with tags and folders to keep everything in order.
          </a>
          <a href="#" class="list-group-item list-group-item-action">
              <strong>Searchable:</strong> Quickly find the notes you need with our powerful search functionality.
          </a>
          <a href="#" class="list-group-item list-group-item-action">
              <strong>Shareable:</strong> Share your notes with others easily and collaborate in real-time.
          </a>
        </div>
    </div>
{% endblock %}
